src/seletor_theme_nodered.json
[
    {
        "id": "67f77c8b.68bf64",
        "type": "server-state-changed",
        "z": "76e3aa7d.6111e4",
        "name": "input Theme",
        "server": "82136dea.a6d7a",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_select.themes",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 610,
        "y": 576,
        "wires": [
            [
                "7af5c1af.bd9df"
            ]
        ]
    },
    {
        "id": "ca9ea279.a9188",
        "type": "api-call-service",
        "z": "76e3aa7d.6111e4",
        "name": "set Theme",
        "server": "82136dea.a6d7a",
        "version": 1,
        "debugenabled": false,
        "service_domain": "frontend",
        "service": "set_theme",
        "entityId": "",
        "data": "{\"name\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 958,
        "y": 576,
        "wires": [
            []
        ]
    },
    {
        "id": "7af5c1af.bd9df",
        "type": "api-render-template",
        "z": "76e3aa7d.6111e4",
        "name": "get Theme",
        "server": "8c51b0bb.698c3",
        "template": "{{ states('input_select.themes') }}",
        "resultsLocation": "payload",
        "resultsLocationType": "msg",
        "templateLocation": "payload",
        "templateLocationType": "msg",
        "x": 790,
        "y": 576,
        "wires": [
            [
                "ca9ea279.a9188"
            ]
        ]
    },
    {
        "id": "6f66da1c.253e94",
        "type": "inject",
        "z": "76e3aa7d.6111e4",
        "name": "strat HassOS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "homeassistant.homeAssistant.isConnected",
        "payloadType": "global",
        "x": 579,
        "y": 624,
        "wires": [
            [
                "519278ea.12c4a8"
            ]
        ],
        "l": false
    },
    {
        "id": "519278ea.12c4a8",
        "type": "rbe",
        "z": "76e3aa7d.6111e4",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 627,
        "y": 624,
        "wires": [
            [
                "7084ac9d.6f9d54"
            ]
        ],
        "l": false
    },
    {
        "id": "7084ac9d.6f9d54",
        "type": "switch",
        "z": "76e3aa7d.6111e4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 675,
        "y": 624,
        "wires": [
            [
                "7af5c1af.bd9df"
            ]
        ],
        "l": false
    },
    {
        "id": "82136dea.a6d7a",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "8c51b0bb.698c3",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "addon": true
    }
]